#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#activeScans {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: seagreen;
  opacity: 0.7;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 75vw;
}

button {
  margin: 1rem;
}

.collectionInfo {
  overflow: scroll;
  max-height: 40vh;
}

select {
  margin: 1rem;
  font-size: 1.25rem;
  font-weight: bolder;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid black;
  max-width: 75%;
}

option {
  font-size: 1.25rem;
  font-weight: bolder;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid black;
  max-width: 75%;
}

option:hover {
  background-color: seagreen;
  color: white;
}

#startScan {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: seagreen;
  color: white;
  opacity: 0.7;
  border-radius: 1rem;
  padding: 1rem;
  font-weight: bolder;
  font-size: 1.25rem;
  width: 75vw;
}

#inputForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#inputForm label {
  font-size: 1.25rem;
  font-weight: bolder;
  margin: 0.5rem;
}

#inputForm label input {
  padding: 0 1rem;
  font-size: 1.25rem;
  font-weight: bolder;
  margin: 0.5rem;
  height: 3rem;
  border-radius: 1rem;
  border: 1px solid black;
  max-width: 75%;
}

.scan {
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: black;
  width: 75vw;
  max-width: 75%;
}

.stopButton {
  background-color: red;
  color: white;
  border-radius: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  font-weight: bolder;
  font-size: 0.8rem;
}

.scanText { 
  font-size: 1rem;
  font-weight: bolder;
  margin: 0.8rem;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}

@media (min-width: 900px) {

  #startScan {
    width: 50vw;
  }

  #activeScans {
    width: 50vw;
  }

  .stopButton {
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
    border-radius: 1rem;
  }

  .scanText {
    font-size: 1.5rem;
  }
}